.profile-followers {
  display: flex;
}

.item {
  display: flex;
  align-items: center;

  .item-title {
    margin-left: 5px;
    color: gray;
  }

  .item-icon {
    color: gray;
    margin-right: 5px;
  }
}

.divider {
  width: 4px;
  height: 4px;
  margin: 0 5px;
  align-self: center;
  border-radius: 30px;
  background-color: gray;
}